<%= render 'rating_form', ad: @ad, rating: @rating %>
<% content_for :title, @ad.title %>
<h1>
  <%= @ad.title %>
</h1>
<p>
  <strong>Opis:</strong>
  <%= @ad.description %>
</p>
<p>
<%= image_tag @ad.image_url, height: 50 %>
</p>
<p>
  <strong>Dodane przez: </strong>
  <%= "#{@ad.user.full_name}"%>
<p>
